<%- include('../../partials/head') %>

<div class="mt-4 container">
        <div class="invoice">
        
      
          <main>

                <div class="container">
                        <h2>Cafe Me Invoice</h2>
                        <p>27/09/2019</p>  
                        <span>Customer Name : <%= customerData[0].CustomerName %></span><br/>
                        <span>Customer Id : <%= customerData[0].CustomerId %></span><br/>
<br/>
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Product</th>
                              <th>Unit</th>
                              <th>Price</th>
                            </tr>
                          </thead>
                          <tbody>


                           <% customerData.forEach(data => { %>
                                <tr>
                                  <td><%= data.MenuName %></td>
                                  <td><%= data.qty %></td>
                                  <td>Rp. <%= data.total %></td>
                                </tr>

                            <% }) %>
                           
                            <tr>
                                    <td> </td>
                                    <td> Total </td>
                                    <td>Rp. <%= totalSum%></td>
                                </tr>
                             
                         
                           
                            
                          </tbody>
                        </table>
                      </div>

      
      
           
          </main>
      
          <footer>
                <div class="wrapper">
                        <a style="text-align: right" class="btn btn-primary" href="/order/purchased" role="button">Pay Now</a>
                </div>
                    </footer>

        </div>
      </div>
<%- include('../../partials/footer') %>