<%- include('../../partials/head') %>


<div class="mt-4 container">   
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-12 mx-auto">
                <h3 style="text-align: center">Customer Order List</h3>
                <br/>
               
                  <div class="detilCustomer" style="text-align: left">
                      <p>Name : <%= customer.name %></p>
                      <p>Phone : <%= customer.phone %></p>
                      <p>Email : <%= customer.email %></p>
                  </div>
                          
                    

                <form action="/order/checkout" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                    <th>Menu</th>
                    <th>Price/item</th>
                    <th>Order Quantity</th>
                    <th>Options</th>
                  </thead>
                  <tbody>
                    <% for(let i = 0; i < customer.Menus.length; i++){ %>
                  <tr>


                    <td><%= customer.Menus[i].name %></td>
                    <td><%= customer.Menus[i].price %></td>
                    <td><%= customer.Menus[i].Order.qty %></td>
                    <td><a href="/order/receipt/edit/?qty=<%= customer.Menus[i].Order.qty %>&CustomerId=<%= customer.Menus[i].Order.CustomerId %>&MenuId=<%= customer.Menus[i].Order.MenuId %>&MenuName=<%= customer.Menus[i].name %>">edit</a>  |  <a href="/order/receipt/delete/?qty=<%= customer.Menus[i].Order.qty %>&CustomerId=<%= customer.Menus[i].Order.CustomerId %>&MenuId=<%= customer.Menus[i].Order.MenuId %>&MenuName=<%= customer.Menus[i].name %>">delete</a></td>
                  </tr>
                    <br/>
                      
                      <input type="hidden" name="MenuId" value="<%= customer.Menus[i].id %>">
                      <input type="hidden" name="name" value="<%= customer.Menus[i].name %>">
                      <input type="hidden" name="price" value="<%= customer.Menus[i].price %>">
                      <input type="hidden" name="qty" value="<%= customer.Menus[i].Order.qty %>">
                      
                      <% } %>
                      <br>
                      
                      
                    </tbody>
                  </table>
                  
                  <input type="hidden" name="CustomerName" value="<%= customer.name %>">
                  <input type="hidden" name="CustomerId" value="<%= customer.id %>">
                  
                  

    <% if(customer.Menus.length == 0 ) { %>

      <a href="/order">home</a>

    <% } else { %>
      
      <div class="wrapper">
                      <input type="submit" value="Checkout" style="text-align: right" class="btn btn-primary">
                  </div>
    <% } %>


  </form>

<%- include('../../partials/footer') %>